<div class="sidebar">
    <!-- Sidebar user panel (optional) -->
    <div class="user-panel mt-3 pb-3 mb-3 d-flex">
        <div class="image">
            <img src="~/Libs/dist/img/NguyenDao.jpg" class="img-circle elevation-2" alt="User Image">
        </div>
        <div class="info">
            <a href="https://www.facebook.com/profile.php?id=100030439984457&rdid=RiJEUJ2hFrY9yJ5G&share_url=https%3A%2F%2Fwww.facebook.com%2Fshare%2FUYoSss8m7f8PHLjh" class="d-block">Nguyễn Đạo</a>
        </div>
    </div>

    <!-- SidebarSearch Form -->
    <div class="form-inline">
        <div class="input-group" data-widget="sidebar-search">
            <input class="form-control form-control-sidebar" type="search" placeholder="Search" aria-label="Search">
            <div class="input-group-append">
                <button class="btn btn-sidebar">
                    <i class="fas fa-search fa-fw"></i>
                </button>
            </div>
        </div>
    </div>

    <!-- Sidebar Menu -->
    <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
            <!-- Add icons to the links using the .nav-icon class
    with font-awesome or any other icon font library -->
            <li class="nav-item">
                <a href="#" class="nav-link">
                    <i class="nav-icon fas fa-circle"></i>
                    <p>Home</p>
                </a>
            </li>
            <!-- Quản lý nhập hàng -->
            <li class="nav-item">
                <a href="#" class="nav-link">
                    <i class="nav-icon fas fa-copy"></i>
                    <p>
                        Quản lý nhập hàng
                        <i class="right fas fa-angle-left"></i>
                    </p>
                </a>
                <ul class="nav nav-treeview">
                    <li class="nav-item">
                        <a href="~/ImportInvoice/Index" class="nav-link">
                            <i class="far fa-circle nav-icon"></i>
                            <p>Danh sách hóa đơn</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="~/ImportInvoice/Add" class="nav-link">
                            <i class="far fa-circle nav-icon"></i>
                            <p>Thêm mới hóa đơn</p>
                        </a>
                    </li>
                    @*<li class="nav-item">
                        <a href="~/ImportInvoice/Edit" class="nav-link">
                            <i class="far fa-circle nav-icon"></i>
                            <p>Sửa hóa đơn</p>
                        </a>
                    </li>*@
                </ul>
            </li>
            <!-- / Quản lý nhập hàng -->

            <!-- Quản lý xuất hàng -->
            <li class="nav-item">
                <a href="#" class="nav-link">
                    <i class="nav-icon fas fa-copy"></i>
                    <p>
                        Quản lý xuất hàng
                        <i class="right fas fa-angle-left"></i>
                    </p>
                </a>
                <ul class="nav nav-treeview">
                    <li class="nav-item">
                        <a href="~/ExportInvoice/Index" class="nav-link">
                            <i class="far fa-circle nav-icon"></i>
                            <p>Danh sách hóa đơn</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="~/ExportInvoice/Add" class="nav-link">
                            <i class="far fa-circle nav-icon"></i>
                            <p>Thêm mới hóa đơn</p>
                        </a>
                    </li>
                    @*<li class="nav-item">
                        <a href="~/SanPham/Add" class="nav-link">
                            <i class="far fa-circle nav-icon"></i>
                            <p>Sửa hóa đơn</p>
                        </a>
                    </li>*@
                </ul>
            </li>
            <!-- / Quản lý xuất hàng -->

            <!-- Quản lý sản phẩm -->
            <li class="nav-item">
                <a href="#" class="nav-link">
                    <i class="nav-icon fas fa-circle"></i>
                    <p>
                        Quản lý sản phẩm
                        <i class="right fas fa-angle-left"></i>
                    </p>
                </a>
                <ul class="nav nav-treeview">
                    <li class="nav-item">
                        <a href="~/Product/Index" class="nav-link">
                            <i class="far fa-circle nav-icon"></i>
                            <p>Danh sách sản phẩm</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="~/Product/Add" class="nav-link">
                            <i class="far fa-circle nav-icon"></i>
                            <p>Thêm mới sản phẩm</p>
                        </a>
                    </li>
                </ul>
            </li>
            <!-- / Quản lý sản phẩm -->

            <!-- Báo cáo thống kê -->
            <li class="nav-item">
                <a href="#" class="nav-link">
                    <i class="nav-icon fas fa-circle"></i>
                    <p>
                        Báo cáo thống kê
                        <i class="right fas fa-angle-left"></i>
                    </p>
                </a>
                <ul class="nav nav-treeview">
                    <li class="nav-item">
                        <a href="#" class="nav-link">
                            <i class="far fa-circle nav-icon"></i>
                            <p>Thống kê doanh thu</p>
                        </a>
                    </li>
                </ul>
            </li>
            <!-- / Báo cáo thống kê -->
        </ul>
    </nav>
    <!-- /.sidebar-menu -->
</div>